.item-category{
    height: auto;
}

.profile-pic{
    margin: 50px auto 50px;
    height: 120px;
    width: 120px;
    border-radius: 100%;
    overflow: hidden;
}
.profile-pic img{
    height: 100%;
    width: auto;
    object-fit: cover;
}
.profile-name{
    color: red;
    font-size: 24px;
    font-weight: bold;
}
.container{
    /* min-height: 300px; */
    text-align: center;
}
.btn-list{
    background-color: red;
    width: 70%;
    margin: 10px auto;
    color: white;
    font-weight: bold;
}
.btn-list:hover{
    background-color: rgb(255, 94, 0);
    color: white;
    display: block;
}
.about{
    margin-top: 60px;
}