.item-category{
    height: auto;
}
.container{
    /* min-height: 300px; */
    text-align: center;
}
.btn-list{
    background-color: red;
    width: 70%;
    margin: 10px auto;
    color: white;
    font-weight: bold;
}
.btn-list:hover{
    background-color: rgb(255, 94, 0);
    color: white;
}