.item-category{
    height: auto;
}
.container{
    /* min-height: 300px; */
    text-align: center;
}
.btn-list{
    /* background-color: red; */
    margin: 10px auto;
    color: white;
    /* font-weight: bold; */
    display: inline;
    padding: 5px;
    width: 20%;
}
.btn-list:hover{
    background-color: rgb(255, 94, 0);
    color: white;
}