.item-margin{
    margin: 20px 0 0px;
    padding-bottom: 20px;
    border-bottom: 2px rgb(231, 231, 231) solid;
}

.product-pic{
    position: relative;
    top: 35px;
    max-width: 480px;
    width: 100%;
    box-sizing: border-box;
    margin: 0px auto;
    background-color: white;
    padding: 0px 0 0 0;
    text-align: center;
    font-size: 16px;
    overflow: hidden;
    display: block;
}

.product-pic img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.container{
    top: 35px;
    margin-top: 0;
    background-color: white;
    text-align: center;
    max-height: fit-content;
}
.bottom-menu{
    display: none;
}

.product-name{
    width: 100%;
    height: auto;
    font-size: 16px;
    display: inline-block;
    border-bottom: 2px rgb(231, 231, 231) solid;
    padding-bottom: 20px ;
}
.name{
    display: inline-block;
    width: 60%;
    text-align: left;
    font-weight: bold;
}
.chat-button{
    display: inline-block;
    width: 30%;
    font-size: 12px;
    color: black;
    text-align: right;
}
.chat-button img{
    width: 25%;
}

.product-description{
    text-align: left;
}

.product-spec{
    text-align: left;
}

.specs{
    display: inline-block;
    text-align: center;
}
.spec{
    display: inherit;
    width: 24%;
    padding: 15px;
}
.spec img{
    width: 70%;
    margin-bottom: 10px;
}
.align-left{
    text-align: left;
}
.btn-plus{
    display: inline-block;
    cursor: pointer;
}
.btn-min{
    display: inline-block;
    cursor: pointer;
}
.btn-min:hover{
    background-color: rgb(253, 177, 177);
}
.btn-plus:hover{
    background-color: rgb(253, 177, 177);
}
.jml{
    display: inline-block;
    width: 20%;
}

.total-price{
    border: none;
    display: inline-block;
    width: 100%;
    /* padding-bottom: 5px;
    border-bottom: 1px solid rgb(231, 231, 231); */
}
.price-desc{
    display: inline-block;
    font-weight: bold;
    text-align: left;
    width: 49%;
}
.price{
    display: inline-block;
    text-align: right;
    width: 49%;
}